<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title><%= settings.site_title %></title>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
	<!-- A standard layout file, all content is put into the 'yield' block below. -->
    <%= yield %>
  </body>